.Header {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    background-color: #f0f0f0;
    padding: 1rem;
  }
  
  .LogoPic {
    margin-right: 1rem;
  }
  
  .Headddd {
    text-align: center;
    font-family: 'Vina Sans', cursive;
  }
  
  h1 {
    font-size: 2rem;
  }
  